.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 500px;
}

.confirm-order,
.store-return {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  color: black;
  margin-top: 1rem;
  background-color: rgba(182, 182, 182, 0.363);
  padding: 0.5rem 0.5rem;
  /* border: 1px solid black; */
}

.confirm-order:hover,
.store-return:hover {
  background-color: rgba(172, 172, 172, 0.815);
}

.bag-list-header {
  margin-top: 0rem;
  text-align: left;
}

.empty-bag {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 500px;
  margin: 20px 0;
  text-align: left;
}

.links-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
