.bag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "PT Serif", serif;
}

.bag-container > * {
  margin: 0;
}

.bag-header {
  font-size: 2rem;
}

.order-note {
  margin-top: 3em;
}
